.spoilertext {
    background-color: black;
    cursor: pointer;
    color: black;
    text-decoration: none;
    user-select: none;
    display: inline-block;
}

.spoilertext img {
    background-color: rgba(0,0,0,0);
    filter: blur(7px);
    pointer-events: none;
}

.spoilertext a, .spoilertext a:hover, .spoilertext a:visited, .spoilertext a:active {
    text-decoration: none;
    color: black;
    pointer-events: none; /* stop ghost image drag operations */ 
}

.spoilertext::selection {
    color: black;
}