.stickied {
    border-radius: 15px;
    border-color: whitesmoke;
    background-color: rgba(160, 14, 173, 0.7);
    color: whitesmoke;
    text-align: center;
    padding: 4px 10px;
    font-size: 0.7rem;
    display: inline-block;
    margin-left: 4px;
}