* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    position: sticky;
    width: 100%;
    width: 100%;
    top: 0;
    padding: 8px 4px;
    margin-top: 0;
    border-bottom: 1px solid grey;
    z-index: 10;
    background-color: white;
}

header nav {
    display: flex;
    align-items: center;
}

#logo {
    height: 2.7rem;
}