.redditCard {
    border: 1px solid lightgray;
    background-color: rgb(245, 239, 239);
    box-shadow: 3px 3px 6px darkgray;
    width: 100%;
    margin-bottom: 14px;
    padding: 8px;
    overflow: scroll;
}

.redditCard h2 {
    display: flex;
    justify-content: left;
    align-items: center;
}

.redditCard h2 img {
    width: 30px;
    margin-right: 10px;
}